In [1]:
# standard imports
import pandas as pd
# import custom netdata stuff from our package
from netdata_api_utils.utils import api, get_metrics

## df_allmetrics

In [2]:
df_allmetrics = pd.DataFrame.from_dict(
    api(
        endpoint='allmetrics',
        options='?format=json'
    ),
    orient='index'
)
print(df_allmetrics.shape)
df_allmetrics.sample(10)

(210, 5)

,name,context,units,last_updated,dimensions
groups.files,groups.files,groups.files,open files,1568389236,"{'ntp': {'name': 'ntp', 'value': 1.0}, 'andrew..."
disk_avgsz.sda,disk_avgsz.sda,disk.avgsz,KiB/operation,1568389236,"{'reads': {'name': 'reads', 'value': 0.0}, 'wr..."
disk_space._run,disk_space._run,disk.space,GiB,1568389236,"{'avail': {'name': 'avail', 'value': 1.4591942..."
system.ipc_semaphore_arrays,system.ipc_semaphore_arrays,system.ipc_semaphore_arrays,arrays,1568389236,"{'arrays': {'name': 'arrays', 'value': 0.0}}"
disk_inodes._,disk_inodes._,disk.inodes,inodes,1568389236,"{'avail': {'name': 'avail', 'value': 3098588.0..."
system.pgpgio,system.pgpgio,system.pgpgio,KiB/s,1568389236,"{'in': {'name': 'in', 'value': 0.0}, 'out': {'..."
users.mem,users.mem,users.mem,MiB,1568389236,"{'ntp': {'name': 'ntp', 'value': 0.5}, 'andrew..."
cpu.cpu3_interrupts,cpu.cpu3_interrupts,cpu.interrupts,interrupts/s,1568389236,"{'31': {'name': 'virtio1-input.3_31', 'value':..."
system.ipc_semaphores,system.ipc_semaphores,system.ipc_semaphores,semaphores,1568389236,"{'semaphores': {'name': 'semaphores', 'value':..."
users.vmem,users.vmem,users.vmem,MiB,1568389236,"{'ntp': {'name': 'ntp', 'value': 95.5976562}, ..."

## df

In [3]:
df = get_metrics(['users.sockets'])
print(df.shape)
df.head()

(60, 4)

         time           name label value
0  1568389200  users.sockets   ntp    10
1  1568389140  users.sockets   ntp    10
2  1568389080  users.sockets   ntp    10
3  1568389020  users.sockets   ntp    10
4  1568388960  users.sockets   ntp    10